/* Το container να καλύπτει ολόκληρη την οθόνη */
.header-container {
    position: relative;
    height: 100vh; /* Πλήρες ύψος οθόνης */
    overflow: hidden;
  }
  
  /* Το carousel να καλύπτει την οθόνη */
  .carousel-container {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  /* Ρύθμιση των εικόνων για να φαίνονται ως background με cover */
  .carousel-item img {
    width: 100%;
    height: 100vh; /* Ύψος 100vh για να καλύπτει το container */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  /* Overlay πάνω από το carousel για το κείμενο */
  
  /* Κείμενο που βρίσκεται πάνω από το overlay */
  
  @media (max-width: 768px) {
  
    .carousel-item img {
      height: 100vh; /* Προσαρμογή για μικρότερες οθόνες */
    }
  }
  