

.Brand{
    font-family: magnutia;
    font-size: 2rem;
    padding-inline: 2rem;
}
.link{
    margin-inline: 3rem;
    padding: 2rem;
}

@font-face {
    font-family: magnutia;
    src: url(./unifrakturmaguntia/UnifrakturMaguntia-Book.ttf);
}