emulatorMetadata/*
BackUp/*
make author/node_modules/*
functions/node_modules
*admin*
venv
*.cache
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.firebase/hosting.YnVpbGQ.cache

*.log
storage/


functions/index.html

functions/node_modules/.bin/

emulatorMetadata.zip

# Sentry Config File
.sentryclirc
