
.InstallButton{
    opacity: 0;
}
.Install{
    display: none;
}

@media (max-width: 768px) {
    .Install{
        display: block;
    }
    
    .InstallButton {
        display: block;
        }
        .InstallButton:hover {
             background-color: blue;
             transition: 1s;
            }
}
