*{
  margin: 0;
  padding: 0;
  
}

html{
  height: 100%;
  background-color: #000;
}

#root {
  height: 100vh;
}

body {
  background-image: url(/assets/HeavyLocalLogo.jpg) ;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000; /* Χρώμα φόντου για ολόκληρη την οθόνη */
  min-height: 100vh; /* Ensure body takes up full viewport height */
}