.CollageBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.Img-box {
    flex: 1 0 50%;
    box-sizing: border-box;
}

.Img-box img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 3px;
}


.ReviewsBanner{
    background-image: url(./../../../../assets/BlackBackground/ReviewsBannerBackground.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 1rem;
    display:  flex;
    justify-content: center;
    align-items: center;
}


.ExpolreBox{
    border-bottom: 1px solid white;
    padding: 1rem;
    margin: 1rem;
}